/* General Styles */
.about-us-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(255,244,239);
}

.about-us-content {
  display: flex;
  flex-direction: row; /* Default to row layout */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */
}

.about-us-image {
  width: 100%;
  max-width: 400px; /* Limit maximum width */
  height: auto;
  border-radius: 10px;
}

.text-section {
  flex: 2;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculations */
}

.text-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.social-media{
  position: absolute;
  top: 36vw;
  left: 39%;
}
.social-media a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-media a:hover {
  color: #007bff; /* Change color on hover */
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .about-us-content {
    position: absolute;
    top: 10%;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center content horizontally */
  }

  .image-section,
  .text-section {
    width: 100%;
    padding: 10px; /* Reduced padding for mobile */
  }

  .text-section h2 {
    font-size: 1.5em; /* Smaller font size for mobile */
  }

  .text-section p {
    font-size: 16px; /* Adjust font size for mobile */
  }
}

@media screen and (max-width: 480px) {
  .about-us-image {
    max-width: 300px; 
  }

  .text-section h2 {
    font-size: 1.2em; 
  }

  .text-section p {
    font-size: 14px; 
  }
}
