/* App.css */

/* General styles */
.app {
    display: flex;
  }
  
  .main-content {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    .app {
      flex-direction: column;
    }
  
    .hamburger {
      display: block;
    }
  
    .sidebarcol {
      display: none;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      height: 100%;
      z-index: 1000;
    }
  
    .sidebar.open {
      display: block;
    }
  
    
  }
  